[Service]
# Permit local API proxying and WebRTC media only from an authorized device.
IPAddressDeny=any
IPAddressAllow=127.0.0.0/8
IPAddressAllow=::1/128
IPAddressAllow=YOUR_AUTHORIZED_TAILSCALE_IP/32
